:root{
    --bg: #ffe5e0;
    --colorFuchia: #e6456f;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: var(--bg);
  }
  h1{
    color: var(--colorFuchia);
    text-align: center;
    margin-bottom:0.5rem ;
    font-size: 3rem;
  }
  
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .character {
    position: absolute;
    bottom: 20%;
    left: 46%;
    width: 300px;
  }
  
  .bubble {
    position: absolute;
    bottom: 50%;
    left: 47%;
    background: white;
    border-radius: 15px;
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.8s ease;
    font-size: 1.2rem;
  }
  
  .bubble::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 20px;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
  .btn-accueil{
    color: white;
    background-color: var(--colorFuchia);
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: var(--bg) 0px 54px 55px, var(--bg) 0px -12px 30px, var(--colorFuchia) 0px 4px 6px, var(--colorFuchia) 0px 12px 13px, var(--colorFuchia) 0px -3px 5px;
    &:hover{
        background-color: var(--bg);
        color: #e6456f;
    
    }
  }

  .connexion-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.9); /* Transparence légère */
    padding: 10rem 10rem;
    border-radius: 1rem;
    z-index: 3;               /* Tout devant */
    box-shadow: 0 4px 10px var(--colorFuchia);
  }
  h2{
    color: var(--colorFuchia);
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;

  }
  .connexion-form input{
    padding: 0.4rem 3rem;
    box-shadow:  var(--bg) 0px 54px 55px, var(--bg) 0px -12px 30px, var(--bg) 0px 4px 6px, #f8cdd9 0px 12px 13px, var(--bg) 0px -3px 5px; 
    border: none;
    margin-bottom: 1.5rem;
  }
  .btn-connection{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    margin: 4rem 0;
  }
.btn-connecter{
   
    color: white;
    background-color: var(--colorFuchia);
    border: none;
    border-radius: 1rem;
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;

    box-shadow: var(--bg) 0px 54px 55px, var(--bg) 0px -12px 30px, var(--colorFuchia) 0px 4px 6px, var(--colorFuchia) 0px 12px 13px, var(--colorFuchia) 0px -3px 5px;
    &:hover{
        background-color: var(--bg);
        color: #e6456f;
    }
    
}