body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #ffe5e0;
  }
  h1{
    color: #e6456f;
    text-align: center;
    margin-bottom:0.5rem ;
    font-size: 3rem;
  }
  
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .character {
    position: absolute;
    bottom: 20%;
    left: 46%;
    width: 300px;
  }
  
  .bubble {
    position: absolute;
    bottom: 50%;
    left: 47%;
    background: white;
    border-radius: 15px;
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.8s ease;
    font-size: 1.2rem;
  }
  
  .bubble::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 20px;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
  