*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg: #ffe5e0;
    --colorFuchia: #e6456f;
}
body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,var(--bg), #b8e1ff);
    min-height: 100vh;
    display: block;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0; 
    margin: 0;

}
.card {
    width: 50%;
    margin: 3rem auto;
    padding: 2rem;
    background-color: white;
    box-shadow: var(--bg) 0px 54px 55px, var(--bg) 0px -12px 30px, var(--colorFuchia) 0px 4px 6px, var(--colorFuchia) 0px 12px 13px, var(--colorFuchia) 0px -3px 5px;
    border-radius: 2rem;

}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
        padding: 0.5rem 3rem;
        box-shadow: var(--bg) 0px 54px 55px, var(--bg) 0px -12px 30px, var(--bg) 0px 4px 6px, #f8cdd9 0px 12px 13px, var(--bg) 0px -3px 5px;
        border: none;
        border-bottom: 2px solid var(--colorFuchia);
        margin-bottom: 2rem;
    }
    .options{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
      
    }
}
h1{
    text-align: center;
    padding: 2rem;
    color: var(--colorFuchia);
}
h2{
    text-align: center;
    padding: 1.5rem 0;

}
p{
    padding: 2rem 0;

}
button{

    color: white;
    background-color: var(--colorFuchia);
    border: none;
    border-radius: 1rem;
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;

    box-shadow: var(--bg) 0px 54px 55px, var(--bg) 0px -12px 30px, var(--colorFuchia) 0px 4px 6px, var(--colorFuchia) 0px 12px 13px, var(--colorFuchia) 0px -3px 5px;

    &:hover {
        background-color: var(--bg);
        color: var(--colorFuchia);
    }

}
a {
    text-decoration: none;
    color: #f086a2;
    font-size: 1.2rem;
    display: block;

    &:hover {
        text-decoration: underline;
        background-color: #fadfe6;
        color: var(--colorFuchia);

    }
}
/* style pour la page game.html*/

.game-container {
    display: block; 
    width: 100%; 
    height: auto; 
    padding: 2rem; 
}

.situation {
    display: flex; 
    justify-content: space-between; 
    width: 90%; 
    margin: 2rem auto;
    gap: 1rem; 
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: var(--bg);
}

.paragraph-situation {
    box-shadow: var(--bg) 0px 54px 55px, var(--bg) 0px -12px 30px, var(--colorFuchia) 0px 4px 6px, var(--bg) 0px 12px 13px, var(--colorFuchia) 0px -3px 5px;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    flex-grow: 1; /* S'étend pour occuper toute la largeur disponible */
}
div .event-container{
    background-color: white;
    width: 90%;
    height: 30rem;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: var(--bg) 0px 54px 55px, var(--bg) 0px -12px 30px, var(--bg) 0px 4px 6px, var(--bg) 0px 12px 13px, var(--colorFuchia) 0px -3px 5px;
    border-radius: 1rem;
}


