<!DOCTYPE html>
<html lang="fr">
  <head>
  <meta charset="UTF-8">
  <title>{% block title %}MamanSolo{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Lien vers CSS global #}
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💕</text></svg>">
  {% block stylesheets %}{% endblock %}
  </head>

  <body>
    <header>
        <a href="{{ path('app_accueil') }}" class="logo">
            <img src="{{ asset('images/logo.png') }}" alt="LogoMaman">
        </a>
        
    </header>

    <main>
      {% block body %}{% endblock %}
    </main>

    {% block javascripts %}{% endblock %}
    {# Lien vers JS global #}
    <script src="{{ asset('js/main.js') }}"></script> 
 </body>
</html>
